* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: red;;
}

header {
  height: 90px;
  background-color: white;
}

a {
  text-decoration: none;
  color: #A4ACB3;
}

a:hover {
  color: black;
}

.list-inline {
  list-style: none;
  line-height: 90px;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
}

.list-inline > li img {
  vertical-align: middle;
}

.right > .list-inline > li:nth-child(5),
.right > .list-inline > li:nth-child(6) {
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 20px;
}

.btns {
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

.right > .list-inline > li:nth-child(5) > .btns {
  color: black;
  background-color: #EFEFEF;
}

.right > .list-inline > li:nth-child(5) > .btns:hover {
  background-color: lightgrey;
}

.right > .list-inline > li:nth-child(6) > .btns {
  background-color: black;
  color: white;
}

.right > .list-inline > li:nth-child(6) > .btns:hover {
  background-color: #46484A;
}

.right > .wrapper {
  position: relative;
}

.box {
  display: none;
  padding: 15px;
  border-radius: 20px;
  width: 150px;
  background-color: white;
}

.active {
  display: inline-block;
}

.box:nth-child(1) {
  position: absolute;
  top: 15px;
  left: 130px;
}

.box:nth-child(2) {
  position: absolute;
  top: 15px;
  left: 230px;
  width: 185px;
}

.box:nth-child(3) {
  position: absolute;
  top: 15px;
  left: 345px;
  width: 160px;
}

.box > ul {
  list-style: none;
}
